[submodule "themes/grayscale"]
	path = themes/grayscale
	url = https://github.com/runningstream/hugograyscale.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
